[user]
	name = Shubham Chaudhary
	email = shubham.chaudhary@kdemail.net
	signingkey = "CD8F88B6"
	logallrefupdates=true
[core]
	editor = vi
    #pager=most
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
[credential]
	helper = cache --timeout=360000
[push]
	default = matching
[alias]
#	l   = log -18 --graph --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
	lol = log --oneline --graph --decorate
	lof = log --pretty=fuller
	st = status -s
	unstage = reset HEAD --
	last = log -1 HEAD
#[https]
#	proxy = https://ishubhamch:chaudhary@192.168.60.10:3128
#[http]
#	proxy = http://ishubhamch:chaudhary@192.168.60.10:3128
[color]
	ui = true
	diff = true
	branch = true
	pager = true
	status = true
[grep]
	linenumber = true
[push]
	default = tracking
[status]
	relativePaths=true
[github]
	user = shubhamchaudhary
[i18n]
	commitencoding = utf-8

[sendemail]
	from = Shubham Chaudhary <shubhamchaudhary92@gmail.com>
	smtpserver = smtp.gmail.com
	smtpuser = shubhamchaudhary92@gmail.com
	smtpencryption = tls
	smtppass =
	chainreplyto = false
	smtpserverport = 587

[alias]
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
	changelog = log --pretty=format:\" * %s\"
	shortnocolor = log --pretty=format:\"%h %cr %cn %s\"
	diverges = !bash -c 'diff -u <(git rev-list --first-parent "${1}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
	d = diff                          # diff unstaged changes
	dc = diff --cached                # diff staged changes
	last = diff HEAD^                 # diff last committed change
#	unstage = reset HEAD              # remove files from index (tracking)
	uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state
	filelog = log -u                  # show changes to a file
	mt = mergetool                    # fire up the merge tool
	ss = stash                        # stash changes
	sl = stash list                   # list stashes
	sa = stash apply                  # apply stash (restore changes)
	sd = stash drop                   # drop stashes (destory changes)
	l   = log -18 --graph --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
	ll  = log     --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
	gl  = log -12 --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'
	gll = log     --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(%cr by %an)%Creset%C(yellow bold)%d%Creset%n'
	pull = pull --ff-only
	up = merge --ff-only
	join = merge --no-ff
	ci = commit
	cm = commit -m
	currentbranch = rev-parse --abbrev-ref HEAD
	wdiff = diff
	undo-commit = reset --soft HEAD^
