# Core paths
[ -d "/usr/local/bin" ] && export PATH=/usr/local/bin:$PATH
[ -d "/usr/local/sbin" ] && export PATH=/usr/local/sbin:$PATH
[ -d "$HOME/.local/bin" ] && export PATH=$HOME/.local/bin:$PATH
[ -d $HOME/bin ] && export PATH=$HOME/bin:$PATH

# Editor
export EDITOR=vi
export VISUAL=vi

# Go
export GOPATH="$HOME/.cache/go"
[ -d "$GOPATH/bin" ] && export PATH="$GOPATH/bin:$PATH"

# Cargo
[ -d "$HOME/.cargo/bin" ] && export PATH="$HOME/.cargo/bin:$PATH"

# Dart/Flutter
[ -d "$HOME/.pub-cache/bin" ] && export PATH="$PATH":"$HOME/.pub-cache/bin"

# Pyenv
[ -d "$HOME/.pyenv" ] && export PATH="$HOME/.pyenv/bin:$PATH"

# Heroku
[ -d '/usr/local/heroku/bin' ] && export PATH="/usr/local/heroku/bin:$PATH"

{{ if eq .chezmoi.os "linux" -}}
# Cuda
[ -d "/usr/local/cuda/bin" ] && export PATH=/usr/local/cuda/bin:$PATH
[ -d "/usr/local/cuda/lib64" ] && export LD_LIBRARY_PATH=/usr/local/cuda/lib64:$LD_LIBRARY_PATH

# Linuxbrew
[ -d /home/linuxbrew/.linuxbrew/bin ] && export PATH=/home/linuxbrew/.linuxbrew/bin:$PATH
{{ end -}}
